<div class="about-me">
    <div class="profile">
        <img src="assets/assets/Sneh.jpg" alt="Profile Picture" class="profile-pic">
        <h2>Sneh Sinha</h2>
        <p>Knowledge Nomad</p>
        <br>
        <div class="social-icons">
            <ul>
                <li><a href="https://www.linkedin.com/in/sneh-sinha/"><img [src]="isDarkTheme ? 'assets/assets/linkedin-b.svg' : 'assets/assets/linkedin.svg'" alt="linkedin"></a></li>
                <li><a href="https://www.instagram.com/sneh_.sinha/"><img [src]="isDarkTheme ? 'assets/assets/insta-b.svg' : 'assets/assets/insta.svg'" alt="Insta"></a></li>
                <li><a href="https://x.com/Sneh_s52"><img [src]="isDarkTheme ? 'assets/assets/X-b.svg' : 'assets/assets/X.svg'" alt="X"></a></li>
                <li><a href="https://github.com/Sneh-s52"><img [src]="isDarkTheme ? 'assets/assets/github-b.svg' : 'assets/assets/github.svg'" alt="github"></a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <h1>Greetings!!</h1>
        <p>Hi 👋 Sneh here! I’m a finance geek and a self-proclaimed software developer. 
            I’ve built a few tech projects, and right now, I’m working on a frontend page for 
            mental health practitioners to recommend therapies 
            at <a href="https://www.treadwill.org/landing">TreadWill</a>.
            <br><br>
            This summer, I’ll be interning at BNY Mellon as an SDE, diving deeper into the 
            world of software development and tools like the Spring Framework. I find my harmony in 
            the intersection of finance and technology, but having an entrepreneurial mindset, I 
            try to explore beyond that.
            <br><br>
            I’ve been meaning to write a finance blog, but procrastination always seems to win (˃̣̣̥ᯅ˂̣̣̥). 
            In my free time, you’ll usually find me scrolling Bloomberg for news (mostly geopolitics
            and finance), analyzing stocks (even though I don’t have the funds to invest yet 😅), or 
            hitting the volleyball court. Oh, and I’m also a Junior at IIT Kanpur.
            <br><br>
            Feel free to reach out — I’d love to chat or collaborate! :)</p>

            <br>
            <!-- <div class="content-wrapper">
                <div class="recent-posts">
                    <h3>Recent writings:</h3>
                    <div class="post">
                        <p class="heading">How I Built My First Tech Project</p>
                        <p class="text">Building a tech project can be daunting, especially when you’re new to the field. Here’s how I built my first tech project and what I learned along the way.</p>
                    </div>
                    <div class="post">
                        <p class="heading">Why I’m Excited About My Upcoming Internship</p>
                        <p class="text">Interning at BNY Mellon this summer is a big deal for me. Here’s why I’m excited about this opportunity and what I hope to learn.</p>
                    </div>
                </div> -->
                <div class="Education">
                    <h3>Education</h3>
                    <div class="post">
                        <p class="heading">BTech Biological Sciences & Bioengineering, 2026</p>
                        <p class="text">Indian Institute of Technology, Kanpur</p>
                        <p class="heading">AISSCE – XII, 2021<p>
                        <p class="text">Loyola High School</p>
                        <p class="heading">CBSE – X, 2019</p>
                        <p class="text">Loyola High School</p>
                    </div>
                </div>
                </div>
    </div>
    
