.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
  
  .relative-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
  }