/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    //background-color: white;
    // background-color:#101827;
    // color: white
}
.dark-theme {
  background-color: rgb(17,24,39);
  color: #ffffff;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
}